<div class="container">

  <div class="game" >
    <%= image_tag @photo_name, id: "photo_tag_game_img", data: 
                                  { characters: @characters, 
                                    photo_name: @photo_name,
                                    key: @key } %>
    <div id="guess-box"></div>
    <div id="guesses"></div>
  </div>

  <div id="status">
    <div id="high-scores">
      <div id="timer">Time: 00:00</div>
      <h3>High Scores:</h3>
      <%= render partial: '/high_score/high_score', collection: @highScores %>
    </div>
    <div id="guess-feedback"><h2>No Guesses</h2></div>
    <div id="characters-legend"><h1>Find</h1></div>
  </div>
  <div id="high-score-form">
    <h3>You won!  Please enter your name to register your score.</h3>
    <%= render partial: "./shared/high_score_form", object: @highScore, as: 'highScore' %>
  </div>
</div>

